<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="filetype" name="FileType" schema="schema/filetype.exsd"/>
   <extension-point id="executor" name="Executor" schema="schema/executor.exsd"/>
   <extension
         point="org.knime.workbench.repository.nodes">
<!--
    The "String to Smiles" parser node is deprecated. It's been replaced by
    the more generic MolParser (which allows also conversion to SDF, Mol2,...)
	<node
          category-path="/chemistry/translators"
          factory-class="org.knime.chem.exttool.node.converter.string2smiles.String2SmilesNodeFactory"
          id="org.knime.chem.exttool.node.converter.string2smiles.String2SmilesNodeFactory"/> -->
    <node
          category-path="/misc"
          factory-class="org.knime.exttool.node.ExttoolNodeFactory"
          id="org.knime.exttool.node.base.ExttoolNodeFactory"/>
            
	</extension>
   <extension
         point="org.knime.exttool.executor">
      <executor
            factory="org.knime.exttool.executor.DefaultExttoolExecutorFactory"
            name="Default Executor">
      </executor>
   </extension>
   <extension
         point="org.knime.exttool.filetype">
      <type
            factory="org.knime.exttool.filetype.csv.CSVFileTypeFactory">
      </type>
   </extension>

</plugin>
