<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="filetype" name="FileType" schema="schema/filetype.exsd"/>
   <extension-point id="executor" name="Executor" schema="schema/executor.exsd"/>
   <extension
         point="org.knime.workbench.repository.nodes">
    <node
          category-path="/labs"
          factory-class="org.knime.exttool.node.ExttoolNodeFactory"/>
	</extension>
   <extension
         point="org.knime.exttool.executor">
      <executor
            factory="org.knime.exttool.executor.DefaultExttoolExecutorFactory">
      </executor>
   </extension>
   <extension
         point="org.knime.exttool.filetype">
      <type
            factory="org.knime.exttool.filetype.csv.CSVFileTypeFactory">
      </type>
   </extension>

</plugin>
