<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.exttool.filetype">
      <type
            factory="org.knime.exttool.chem.filetype.sdf.SdfFileTypeFactory">
      </type>
      <type
            factory="org.knime.exttool.chem.filetype.mol2.Mol2FileTypeFactory">
      </type>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/misc"
            expert-flag="false"
            factory-class="org.knime.exttool.chem.babel.BabelNodeFactory"
            id="org.knime.exttool.chem.babel.BabelNodeFactory">
      </node>
   </extension>

</plugin>
